.owner-section, .property-section {
    width: 90%;
    margin: auto;
    margin-top: 43px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 28px !important;
}

.images-section {
    width: 90%;
    margin: auto;
    margin-top: 43px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 28px !important;
}

.btn-new-property, .btn-new-property:hover {
    margin: 33px;
    margin-left: 5%;
    background-color: #fc5c65 !important;
    color: #ffffff;
    width: 90%;
    font-size: 20px;
}

.back-button {
    font-size: 30px;
    margin-top: 0px;
}

